.cover-crud {
  background-color: #DECBA7;
  height: 6vh;

}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /*width: 100%;*/
  height: 10vh;
  margin-bottom: 3vh;
  background-color: #941121;
}

.caja {
  flex: 1;
  /*height: 5vh;*/
  /*width: 13vw;*/
  background-color: #941121;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.fotos {
  height: 100%;
  width: 80px;
}

#boton-agregar {
  background-color: #A71B31;
  border: #00FFFFFF;
  border-radius: 50px;
  gap: 20px;
  list-style: none;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poiret One', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Vesper Libre', serif;
  color: #DECBA7;
  font-size: large;
}
