*{
    list-style: none;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poiret One', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Vesper Libre', serif;
    color: #DECBA7;
    font-size: large;
    background-color: #dfcca6;
}
.div-padre-error{
    height: 100vh;
    width: auto;    
}
.div-texto-error{
    width: auto;
    height: auto;
}

.titulo-error{
    color: #941121;
    font-size: 800%;
    font-weight: 700;
}
.texto-error{
    color: white;
}
.btn-error{
    border-radius: 20px;
    background-color: #941121;
    color: #dfcca6;
    border: 1px solid #941121;
    padding-inline: 15%;
    padding-block: 3%;
    
}
.btn-error:hover{
    background-color:#dfcca6;
    color: #941121;
    border: 1px solid #941121;
    transition: 0.2s; 
}
.div-imagen-error{
    margin-left: 100px; 
}
.imagen-error{
    width: 85%;
}

@media (max-width:568px){
    .div-padre-error{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .titulo-error{
        font-size: 6rem;
    }
    .div-imagen-error{
        display: flex;
        justify-content: center;
        margin-left: 0;
        width: 80%;
    }
    #imagen-error-id{
        width: 100%;
    }
}

@media(max-width:988px){
    .div-padre-error{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .titulo-error{
        font-size: 6rem;
    }
    .div-imagen-error{
        display: flex;
        justify-content: center;
        margin-left: 0;
        width: 75%;
    }
    .imagen-error{
        width: 60%;
    }
}